%p#notice= notice
%h1 Departments
%table
  %thead
    %tr
      %th Name
      %th{:colspan => "3"}
  %tbody
    - @departments.each do |department|
      %tr
        %td= department.name
        %td= link_to 'Show | ', department
        %td= link_to 'Edit | ', edit_department_path(department)
        %td= link_to 'Destroy | ', department, method: :delete, data: { confirm: 'Are you sure?' }
        %td= link_to 'View Job Listings', "/job_postings?mode=single&id=#{department.id}"
%br/
= will_paginate @departments
= link_to 'New Department', new_department_path
%br/
= link_to 'All Job Listings', '/job_postings?mode=title'
