%p#notice= notice
%h1 Job Postings
%table.table.table-hover.table-striped
  %thead
    %tr
      %th Title
      %th Url
      %th Content
      %th Department
      %th{:colspan => "3"}
  %tbody
    - @job_postings.each do |job_posting|
      %tr
        %td= job_posting.title
        %td= job_posting.url
        %td= truncate job_posting.content
        %td= job_posting.department.name
        %td= link_to 'Show', job_posting
        %td= link_to 'Edit', edit_job_posting_path(job_posting)
        %td= link_to 'Destroy', job_posting, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= will_paginate @departments
= link_to 'New Job Posting', new_job_posting_path
%br/
= link_to 'Job Listings by Title | ', '/job_postings?mode=title'
= link_to 'Job Listings by Department', '/job_postings?mode=department'
%br/
= link_to 'Departments', '/departments'
